<script type="text/javascript">
	function toggle_java(){
		var java_only = document.getElementById("java_only").checked;
		var table = document.getElementById("actions");
		var rows = table.rows;
		for(i=1; i<rows.length; i++){
			var file_path = rows[i].cells[1].childNodes[1].innerHTML;
			var subfix_pos = file_path.lastIndexOf(".java");
			if(subfix_pos <= 0 || subfix_pos != file_path.length-5){
				rows[i].style.visibility = java_only ? "hidden" : "visible";
			}
		}
	}
</script>

<p id="notice"><%= notice %></p>

<%= link_to "Back to #{@cmt.repository.name}", @cmt.repository %>

<h4>Commit Log</h4>
<p><%= @cmt.message %></p>

<h2>Directions</h2>

<p>The technique looks at the change history for a project and can predict if a new code change is bug inducing or clean. The Fix Suggester
based on the bug prediction engine suggests keywords which are likely to be present in the bug fix. The technique is purely statistical
and based on data mining. It is experimental. We would like to gather your thoughts on the Fix Suggester.
</p>

For a selected code, do not attempt to do BOTH RQ1 and RQ2, perform one or the other.

<p>
RQ1:
Allowing subjects to the look at the bug fix changelog, can one validate if the predicted keywords are relevant to the actual bug fix?
<ol>
  <li>Not Helpful - The predicted keywords did not intersect with the actual bug fix at all.</li>
  <li>Somewhat Helpful - The predicted keywords partially intersect with the actual bug fix.</li>
  <li>Helpful - The predicted keywords intersect with the key portions of the bug fix.</li>

</ol>
</p>

<p>
RQ2:
When reviewing the bug fix changelog for a different set of changes than the previous experiment,
what are your selected keywords for the bug fix before viewing Fix Suggestions?
  <ul>
    <li>How about after viewing Fix Suggestions?</li>
    <li>Does your candidate keyword list change?</li>
  </ul>
<ol>
  <li>Not Helpful - My candidate keyword list was unaffected.</li>
  <li>Somewhat Helpful - My candidate keyword list changed somewhat due to the Fix Suggestions.</li>
  <li>Helpful - My candidate keyword list was influenced by the Fix Suggestions.</li>

</ol>
</p>
<h2>Suggestions</h2>

<!-- Organize keyword suggestions -->


<% if @suggestion %>
    <ul>
      <li>Precision is the likelihood that suggested keywords will be used in a bug fix (based on past code change history)</li>
      <li>Recall is the probability that all our suggestions (including those not shown) cover the actual bug fix content (based on past code change history)</li>
    </ul>

    <p><b>Predicted keywords</b>: <%= @suggestion.predicted_keywords.join ', '%></p>
    <p><b>Predicted Comment keywords</b>: <%= @suggestion.comment_keywords.join ', '%></p>
    <p><b>Precision</b>: <%= @suggestion.precision %>%</p>
    <p><b>Recall</b>: <%= @suggestion.recall %>%</p>
    <p><b>F-measure</b>: <%= @suggestion.f_measure %>%</p>
<% else %>
    No suggestion
<% end %>

<p><%= link_to 'Repository Snapshot', suggestion_path(@cmt.id) %></p>

<% unless @actions.empty? %>
	<table id="actions">
		<tr>
			<th>Type</th>
			<th>File</th>
		</tr>
	<% @actions.each do |action|%>
		<tr>
			<td align="center"><%= action.action_type %></td>
			<td align="center" style="word-break: break-all">
				<%= link_to action.current_file_path, patch_path(action.patch), :target=>"_blank" %>
			</td>
		</tr>
	<% end %>
	</table>
	<p><%= will_paginate @actions %></p>
	<p>
		<form>
			<input type="checkbox" id="java_only" onclick="toggle_java()" /> Show Java files only
		</form>
	</p>
<% else %>
	<h4>No file was changed in this commit</h4>
<% end %>

Do you think:

<%= form_for @feedback do |f| %>
<ul>
	<li>
		This is a Bug Fix? <%= f.radio_button :is_bug_fix, true %>Yes&nbsp;<%= f.radio_button :is_bug_fix, false %>No<br/>
	</li>
	<li>
		This is buggy? <%= f.radio_button :buggy, true %>Yes&nbsp;<%= f.radio_button :buggy, false %>No<br/>
	</li>
</ul>
	<%= f.hidden_field :commit_id %>
	<%= f.hidden_field :user_id %>
	<%= f.submit 'Save', {:name => 'submit'}%>
<% end %>

<%#= button_to 'Get Next Commit', backend_process_user_feedback_path(@feedback.id),
	:method=>:post, :remote => true, :disabled => !@feedback.persisted? %>
<!--	Please wait after clicking this button, it can take up to 2 minutes -->

<% if @cmt.is_bug_fix %>
	<h4>This commit is classified as bug fix</h4>
	<% if @cmt.bug_introducing_commits.empty? %>
		No Bug Introducing Commits found.
	<% else %>
		<h4>Bug Introducing Commits</h4>
		<ul>
		<% @cmt.bug_introducing_commits.each do |c| %>
			<li><%= link_to c.id, c, :target=>"_blank"%></li>
		<% end %>		
		</ul>
	<% end %>
<% end %>

<% if @cmt.is_buggy %>
	<h4>This commit is classified as buggy</h4>
	<h4>Bug Fixing Commits</h4>
	<ul>
	<% @cmt.bug_fixing_commits.each do |c| %>
		<li><%= link_to c.id, c, :target=>"_blank"%></li>
	<% end %>		
	</ul>
<% end %>

