<h4>Commit Log</h4>
<p><%= @cmt.message %></p>

<table>
	<tr>
		<th>Type</th>
		<th>File</th>
	</tr>
<% @actions.each do |action|%>
	<tr>
		<td align="center"><%= action.action_type %></td>
		<td align="center" style="word-break: break-all">
			<%= link_to action.current_file_path, patch_path(action.patch) %>
		</td>
	</tr>
<% end %>
</table>
<p><%= will_paginate @actions %></p>

<%= form_for @cmt do |f| %>
	Is Bug Fix? <%= f.radio_button :is_bug_fix, true %>Yes&nbsp;<%= f.radio_button :is_bug_fix, false %>No
	<%= f.submit 'Save', {:name => 'submit'}%>
<% end %>

<% if @cmt.is_bug_fix %>
	<% if @cmt.bug_introducing_commits.empty? %>
		No Bug Introducing Commits found.
	<% else %>
		<h4>Bug Introducing Commits</h4>
		<ul>
		<% @cmt.bug_introducing_commits.each do |c| %>
			<li><%= link_to c.id, c%></li>
		<% end %>		
		</ul>
	<% end %>
<% end %>

<% if @cmt.is_buggy %>
	<h4>Bug Fixing Commits</h4>
	<ul>
	<% @cmt.bug_fixing_commits.each do |c| %>
		<li><%= link_to c.id, c%></li>
	<% end %>		
	</ul>
<% end %>

