<script type="text/javascript">
	function toggle_java(){
		var java_only = document.getElementById("java_only").checked;
		var table = document.getElementById("actions");
		var rows = table.rows;
		for(i=1; i<rows.length; i++){
			var file_path = rows[i].cells[1].childNodes[1].innerHTML;
			var subfix_pos = file_path.lastIndexOf(".java");
			if(subfix_pos <= 0 || subfix_pos != file_path.length-5){
				rows[i].style.visibility = java_only ? "hidden" : "visible";
			}
		}
	}
</script>

<p id="notice"><%= notice %></p>

<%= link_to "Back to #{@cmt.repository.name}", @cmt.repository %>

<h4>Commit Log</h4>
<p><%= @cmt.message %></p>

<p><%= link_to 'Suggested Fix Keywords', suggestion_path(@cmt.id) %></p>

<% unless @actions.empty? %>
	<table id="actions">
		<tr>
			<th>Type</th>
			<th>File</th>
		</tr>
	<% @actions.each do |action|%>
		<tr>
			<td align="center"><%= action.action_type %></td>
			<td align="center" style="word-break: break-all">
				<%= link_to action.current_file_path, patch_path(action.patch) %>
			</td>
		</tr>
	<% end %>
	</table>
	<p><%= will_paginate @actions %></p>
	<p>
		<form>
			<input type="checkbox" id="java_only" onclick="toggle_java()" /> Show Java files only
		</form>
	</p>
<% else %>
	<h4>No file was changed in this commit</h4>
<% end %>

Do you think:

<%= form_for @feedback do |f| %>
<ul>
	<li>
		This is a Bug Fix? <%= f.radio_button :is_bug_fix, true %>Yes&nbsp;<%= f.radio_button :is_bug_fix, false %>No<br/>
	</li>
	<li>
		This is buggy? <%= f.radio_button :buggy, true %>Yes&nbsp;<%= f.radio_button :buggy, false %>No<br/>
	</li>
</ul>
	<%= f.hidden_field :commit_id %>
	<%= f.hidden_field :user_id %>
	<%= f.submit 'Save', {:name => 'submit'}%>
<% end %>

<%#= button_to 'Get Next Commit', backend_process_user_feedback_path(@feedback.id),
	:method=>:post, :remote => true, :disabled => !@feedback.persisted? %>
<!--	Please wait after clicking this button, it can take up to 2 minutes -->

<% if @cmt.is_bug_fix %>
	<h4>This commit is classified as bug fix</h4>
	<% if @cmt.bug_introducing_commits.empty? %>
		No Bug Introducing Commits found.
	<% else %>
		<h4>Bug Introducing Commits</h4>
		<ul>
		<% @cmt.bug_introducing_commits.each do |c| %>
			<li><%= link_to c.id, c%></li>
		<% end %>		
		</ul>
	<% end %>
<% end %>

<% if @cmt.is_buggy %>
	<h4>This commit is classified as buggy</h4>
	<h4>Bug Fixing Commits</h4>
	<ul>
	<% @cmt.bug_fixing_commits.each do |c| %>
		<li><%= link_to c.id, c%></li>
	<% end %>		
	</ul>
<% end %>

