<p><%= link_to 'All repositories', repositories_path %></p>
<h1>Listing commits of <%= @repository.name %></h1>
<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Commit ID</th>
    <th>Author Date</th>
    <th>Is Bug Fix?</th>
  </tr>

<% @commits.each do |commit| %>
  <tr>
    <td align="center"><%= link_to commit.id, commit,:target=>"_blank" %></td>
    <td><%= commit.author_date %></td>
    <td align="center"><%= commit.is_bug_fix %></td>
  </tr>
<% end %>
</table>



<p><%= will_paginate @commits %></p>


