<h2>Suggestions</h2>
<% if @suggestion %>
<p><b>Predicted keywords</b>: <%= @suggestion.predicted_keywords.join ', '%></p>
<p><b>Precision</b>: <%= @suggestion.precision%></p>
<p><b>Recall</b>: <%= @suggestion.recall %></p>
<p><b>F-measure</b>: <%= @suggestion.f_measure%></p>
<% else %>
No suggestion
<% end %>

<h3>Snapshot of Files @ revision <%= link_to @commit.id, @commit %></h3>
<ul>
<% @files.each do |f| %>
	<li><%= link_to f.path, content_path(f) %></li>
<% end %>
</ul>
<p><%= will_paginate @files %></p>
