<!DOCTYPE html>
<html>
<head>
  <title>Feedback</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "shCore" %>
  <%= javascript_include_tag "shBrushDiff" %>
  <%= javascript_include_tag "shBrushJava" %>
  <script type="text/javascript">SyntaxHighlighter.all();</script>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="prompt">
  <% if session[:next_commits] and session[:next_commits].size>0%>
  	Please look at these commits next
  <% end %>
  </div>
  <ul id="next_commits">
  	<%=render(session[:next_commits].to_a) if session[:next_commits]%>
  </ul>
<%= yield %>

</body>
</html>
